.highlightSpan {
    background-color: transparent;
	background-image:
		linear-gradient(
			to bottom right,
			transparent 50%,
			#f8db75 50% 100%
		),
		linear-gradient(
			to right,
			#f8db75,
			#f8db75
		),
		linear-gradient(
			to top left,
			transparent 50%,
			#f8db75 50%
		)
	;

    background-size:
    0.25em 1em,
    calc(100% - 0.25em * 2 + 1px) 1em,
    0.25em 1em
    ;
    background-position:
        left center,
        center,
        right center
    ;
    background-repeat: no-repeat;

    padding: 15px;
}